# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

# Terraform plan files
*.plan

# Local Terraform variable files may contain secrets
*.tfvars
!terraform.tfvars.example