aws_region    = "us-east-1"
instance_name = "cost-saving-vm"
instance_type = "t2.micro"

key_pair_name     = null
allowed_ssh_cidr  = null
allowed_http_cidr = "0.0.0.0/0"

root_volume_size_gb = 8

common_tags = {
  Environment = "dev"
  ManagedBy   = "terraform"
}